body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Couture';
  src: url('couture-bld.otf') format('truetype');
}

div, h4, p, ul, li {
  font-family: 'Couture', fallback;
}

@font-face {
  font-family: 'Mercado';
  src: url('Mercado.otf') format('truetype');
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 215, 0);
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container div {
  margin-bottom: 20px;
}

.social-links ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-right: 10px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-footer ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.bottom-footer li {
  margin-left: 10px;
}

.site-footer-desktop-primary .social-accounts a {
  color: #000;
  background-color: gold;
  border-radius: 50%;
}
